{minimum_otp_vsn, "22.0"}.

{cover_enabled, true}.

{erl_opts, [warnings_as_errors,
            {platform_define, "^[2-9][1-9][0-9]*(.?[0-9]*)", deprecated_21},
            {platform_define, "^[2-9][2-9][0-9]*(.?[0-9]*)", deprecated_22}]}.

{eunit_opts, [verbose]}.

{deps, [
        {riak_pb, {git, "https://github.com/Tombert/riak_pb.git", {branch, "openriak-3.2"}}},
        {webmachine, {git, "https://github.com/OpenRiak/webmachine.git", {branch, "openriak-3.2"}}},
        {mochiweb, {git, "https://github.com/OpenRiak/mochiweb.git", {branch, "openriak-3.2"}}},
        {riak_core, {git, "https://github.com/OpenRiak/riak_core.git", {branch, "openriak-3.2"}}}
        ]}.

{profiles, [
    {test, [{deps, [meck]}]},
    {gha, [{erl_opts, [{d, 'GITHUBEXCLUDE'}]}]}
]}.

{dialyzer, [{plt_apps, all_deps}]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used]}.
